.card{
    margin: 10px auto;
    padding: 50px;
    width: 175px;
    line-height: 9px;
    border-radius: 25px;
    
    border: 1px solid rgba(231, 231, 231, 0.6);
    &:hover{
      box-shadow: 0px 14px 30px rgba(0, 20, 35,0.15);
      transform: translateY(-5px);
    }
    .likeSvg{
      height: 25px;
      margin-left: 20px;
      opacity: 0.4;
      &:hover{
        opacity: 0.8 !important;
        cursor: pointer;
      }
    }
    
    .goodImg{
      height: 175px;
      width: 175px;;
    }
    .activeSvg{
      fill: magenta;
      stroke: green;
      stroke-width: 4;
    }
    .priceAndPlus{
      display: flex;
      justify-content: space-between;
      align-items: center;

      .price{
        color: gray;
      }
      .plusSvg{
        height: 34px;
        
        border: 1px solid rgba(202, 202, 202, 0.726);
        &:hover{
          opacity: 0.8 !important;
          cursor: pointer;
        }
      }
    }
    .m-l-15{
      margin-left: 15px;
    }
  }