.overlay{
  z-index: 1;
    position: absolute !important;
    background-color: rgba(0, 0, 0, 0.3);
    left:0;
    right:0;
    top:0;
    bottom:0;
    overflow: hidden ;
    
    .drawer{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      height: 100% ;
      width: 310px;
      min-width: 200px;
      background-color: white;
      right: 0;
      top: 0;
      padding: 15px;
      h1{
        margin: 0;
        font-size: 28px;

      }
      .toOrder{
        margin-top: 25px;
        font-size: 18px;
        background: rgba(128, 255, 0, 0.507);
        padding: 15px 80px 15px 80px ;
        display: flex;
        border: 1px solid rgba(8, 90, 8, 0.4);
        border-radius: 15px;
        cursor: pointer;
        align-items: center;
        
        &:hover{
          background: rgba(128, 255, 0, 0.6);
          .imgRight{
            transform: translateX(10px);
          }
          .imgLeft{
            transform: translateX(-10px);
          }
        }
        &:active{
          background: rgba(128, 255, 0, 0.8);
        }
        span{
          margin: 0 5px 0 5px;
        }
        img{
          
          height: 20px;
          transition: transform 0.2s ease-in-out;
          
          
        }
      }
      .items{
        overflow: auto;
        
        .emptyCart{
          margin-top: 30%;
          display: flex;
          flex-direction: column;
          align-items: center;
          h1{
            text-align: center;
          }
          h3{
            text-align: center;
          }
        }
        .h1AndX{
          display: flex;
          justify-content: space-between;
          align-items: center;
          img{
            height: 20px;
            margin-right: 20px;
            opacity: 0.4;
            cursor: pointer;
            &:hover{
              opacity: 0.85;
            }
          }
        }
      }
      .drawerBottom{
        margin-bottom: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        div{
          display: flex;
          justify-content: space-between;
        }
        .dash{
          border-bottom: 1px dashed rgba(94, 93, 93, 0.356);
          width: 200px;
          margin-bottom: 3px;
        }
        
      }
      .imgAndName{
        display: flex;
        img{
          margin-right: 15px;
        }
      }
      .remove{
        height: 25px;
        opacity: 0.3;
        &:hover{
          opacity: 0.8;
          cursor: pointer;
        }
      }
      
      hr{
        margin-bottom: 30px;
        border-top: 1px solid #cfcfcf;
      }
      .cartItem{
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 13px;
        border: 1px solid #cfcfcf;
        border-radius: 20px;
        padding: 5px;
        margin-bottom: 25px;
        .cartItemImg{
          height: 90px;
        }
      }
      
    }
  }