body{
  background-color: antiquewhite;
  margin:0;
  .conteiner{
    max-width: 1175px;
    background-color: white;
    margin: 30px auto;
    padding-bottom:20px ;
    border: 3px solid burlywood;
    border-radius: 25px;
    box-shadow: 0px 15px 35px rgba(0, 14, 24, 0.3);
    hr{
      border: 1px solid burlywood;
    }
    .content{
      margin: 15px 20px 5px 15px;
      .contentHeader{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .search{
          display: flex;
          align-items: center;
          .searchInput{
            
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 25px;
            background-image: url('./search.svg');
            background-position: 10px 10px; 
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            width: 200px;
          }
          .clearSearchInput{
            opacity: 0.45;
            width: 19px;
            &:hover{
              cursor: pointer;
              opacity: 0.9;
            }
        }

        }
      }
      .cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        
      }
    }
  }
}
