


body{
  background-color: antiquewhite;
  .conteiner{
    max-width: 1200px;
    background-color: white;
    margin: 30px auto;
    padding-bottom:20px ;
    border: 3px solid burlywood;
    border-radius: 25px;

    header{
      display: flex;
      justify-content: space-between;
      margin: 15px 20px 5px 15px;
      .logo{
        height: 60px;
        width: 60px;
        min-height: 40px;
        min-width: 40px;
      }
      .svgRight{
        height: 30px;
        width: 30px;
        min-height: 20px;
        min-width: 20px;
      }
      li{
        list-style-type: none;
      }
      .headerLeft{
        margin-left: 5px;
        margin-right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 195px;
        width: 250px;
        line-height: 13px;
      }
      .headerRight{
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 150px;
        min-width: 100px;
        padding-left: 0;
        .sumOfMoney{
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 75px;
          min-width: 40px;
        }
      }
      
    }
    hr{
      border: 1px solid burlywood;
    }
    .content{
      margin: 15px 20px 5px 15px;
      .cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        .card{
          padding: 50px;
          width: 175px;
          line-height: 9px;
          border:1px solid white;
          .likeSvg{
            height: 25px;
            margin-left: 20px;
          }
          
          .goodImg{
            height: 175px;
          }
          .priceAndPlus{
            display: flex;
            justify-content: space-between;
            .price{
              color: gray;
            }
            .plusSvg{
              height: 34px;
            }
          }
          .m-l-15{
            margin-left: 15px;
          }
        }
        .card:hover{
          border:1px solid burlywood;
          border-radius: 25px;
        }
      }
    }
  }
}
